.priority_high {
    color: white;
    background-color: #9795F0;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
}

.status_progress {
    color: white;
    background-color: skyblue;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
}
